
	A:link { 
	text-decoration: none;
	color: white;
	 }
    A:visited { text-decoration: none; }
    A:active { text-decoration: none; }
    A:hover { 
     text-decoration: none; 
     color: orange; 
   	} 

	html {
	font-size: 15px;
	background-image: url(bg.jpg);
	background-attachment: fixed;
	}

	body {
	
    overflow: auto; 
    padding-left: 15px; 
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	}

	*,
	*:before,
	*:after {
	box-sizing: border-box;
	}
	.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1px;
	padding-right: 1px;

	}

	.header {
	padding: 18px 0; 
	}

	.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

	.user {
	display: flex;

	}

	.user__avatar {
	width: 57px;
	height: 57px;
	}

	.img__avatar {
	
	border-radius: 50%;
	
	height: 60px;
	width: 60px;
	}

	.user__name {
	font-size: 16px;
	color: orange;
	font-weight: 700;
	line-height: 18px;
	margin-bottom: 3px;
	}

	.user__prof {
	color: white;
	}

	.user__content {
	margin-left: 9px;
	}

	.nav{
	display: flex;
	height: 100%;
	}

	.nav__link {

	padding: 10px 20px;
	margin-left: 30px;
	
	text-transform: uppercase;
	color: orange;
	font-size: 20px;
	border: 3px solid;
	border-radius: 20px;
	border-color: orange;
	padding: 4px 14px;

	
	}

	.nav__link:hover {

	background-color: #FFA500;
	border-color: orange;
	color: white;

	}

	.nav__link__btn{
	padding: 10px 30px;
	margin-left: 30px;
	
	font-size: 14px;
	color: #2F4F4F;
	text-transform: uppercase;
	font-weight: 700;

	display: block;
	border: 2px solid transparent;
	border-radius: 20px;
	}

	.nav__link__btn:hover{

	background: #FFA500;
	color: white;

	}

	.container2{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1px;
	padding-right: 1px;
	}

	.boder{
	padding: 18px 0; 
	}

	.boder__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

	.Discr{
	padding:3px 55px 0px ;
	margin-top: 50px;
	display: flex;
	border: 2px solid ;
	border-color: white;
	border-radius: 20px;
	background-color: white;
	}

	.title__discription{
	margin-left: 0px;
	text-transform: uppercase;
	font-size: 26px;
	color: #FFA500;
	font-weight: bold;
	}

	.text__discr{
	line-height: 35px;
	margin-left: 0px;
	margin-right: 40px;
	text-transform: none;
	font-size: 20px;
	color: black;
	padding: 10px;
	
	
	}

	.user_photo{
	width: 250px;
	height: 400px;
	margin-bottom: 5px;

	}

	.img__photo{
	border-radius: 15px;
	}
	
	