@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url(//db.onlinewebfonts.com/c/151212d9a9d1e632aa020562ae4ea050?family=SceneW01-Black);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$color-black: #000000;
$color-active: #70cb0e;
$color-white: #ffffff;

.li-items-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: $color-black;
}

.nav-list-item-active {
  text-shadow: $color-active 1px 1px 0, $color-active -1px -1px 0,
    $color-active -1px 1px 0, $color-active 1px -1px 0;
  pointer-events: none;
}

.favorite-animal-fonts {
  font-family: SceneW01-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: $color-black;
}

.btn-play-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $color-black;
}

.how-works-heading-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: $color-black;
}

.description-p-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 132.5%;
  color: $color-black;
}

.pets-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: $color-black;
}

.image-text-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $color-white;
}

.favorite-text-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $color-black;
}

.pay-and-feed-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: $color-black;
}

.item-text-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $color-black;
}

.item-text-fonts:hover {
  transition: 0.5s;
  color: chocolate;
}

.item-text-fonts:not(hover) {
  transition: 1s;
}

.testimonials-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: $color-black;
}

.testimonials-btn-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $color-black;
}

.feedback-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $color-black;
}

.item-text-fonts {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $color-black;
}

.copyright-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $color-black;
}

.author-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $color-black;
}
