@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("./landing.css");
@import url("./zoos-page1.css");

.wrapper {
  width: 1920px;
  margin: 0 auto;
}
.wrapper-color {
  background: #a7e1ff;
}
.wrapper-padding {
  padding: 0 380px 0 380px;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: orangered;
  transition: 0.5s;
}
a:not(hover) {
  transition: 1s;
}
.header {
  display: flex;
  height: 80px;
  align-items: center;
}
.nav {
  width: 409px;
  padding-left: 57px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.main {
  width: 1920px;
  height: 945px;
}
.map {
  position: absolute;
  margin-top: 100px;
  height: 745.0004272460938px;
  width: 1160px;
  background: url("../assets/icons/map-bg.png") -3.5px -1px no-repeat;
}
.map-icon-cap {
  padding: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.map-icon-eagle {
  width: 61px;
  height: 61px;
  border: 2px solid white;
  border-radius: 50px;
}
.map-icon-alligator {
  width: 61px;
  height: 61px;
  border: 2px solid white;
  border-radius: 50px;
}

.map-icon-gorilla {
  width: 61px;
  height: 61px;
  border: 2px solid white;
  border-radius: 50px;
}

.map-icon-panda {
  width: 61px;
  height: 61px;
  border: 2px solid white;
  border-radius: 50px;
}
.counrty-names {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  text-align: center;

  color: #000000;
}
.usa {
  position: absolute;
  width: 31px;
  height: 19px;
  left: calc(50% - 33px / 2 - 363.5px);
  top: calc(50% - 19px / 2 + 14px);
  font-size: 16px;
}
.eastern {
  position: absolute;
  width: 61px;
  height: 42px;
  font-size: 18px;
  left: calc(50% - 64px / 2 - 38.5px);
  top: calc(50% - 42px / 2 + 171.5px);
}
.china {
  position: absolute;
  width: 41px;
  height: 19px;
  left: calc(50% - 44px / 2 + 273.5px);
  top: calc(50% - 19px / 2 + 28px);
}
.eagle {
  display: flex;
  align-items: center;
  position: absolute;
  width: 121px;
  height: 64px;
  left: calc(47% - 150px / 2 - 499.5px);
  top: calc(48% - 66px / 2 + 55.5px);
}
.tooltip-text-eagle {
  visibility: hidden;
  position: absolute;
  left: 140px;
  top: 10px;
}

.eagle:hover .map-icon-eagle {
  padding: 0;
  border: 3px solid #70cb0e;
  border-radius: 50px;
}
.eagle:hover .tooltip-text-eagle {
  visibility: visible;
}
.eagle:hover .map-icon-cap {
  visibility: hidden;
}
.alligator {
  display: flex;
  align-items: center;
  position: absolute;
  width: 64px;
  height: 64px;
  left: calc(46% - 155px / 2 - 199.5px);
  top: calc(52% - 95px / 2 + 50px);
}

.tooltip-text-alligator {
  visibility: hidden;
  position: absolute;
  left: 75px;
  top: 10px;
}

.alligator:hover .map-icon-alligator {
  padding: 0;
  border: 3px solid #70cb0e;
  border-radius: 50px;
}

.alligator:hover .tooltip-text-alligator {
  visibility: visible;
}
.alligator:hover .map-icon-cap {
  visibility: hidden;
}
.gorilla {
  display: flex;
  align-items: center;
  position: absolute;
  width: 136px;
  height: 64px;
  left: calc(46% - 127px / 2 + 143px);
  top: calc(48% - 67px / 2 + 164.5px);
}

.tooltip-text-gorilla {
  visibility: hidden;
  position: absolute;
  left: 75px;
  top: 10px;
}

.gorilla:hover .map-icon-gorilla {
  padding: 0;
  border: 3px solid #70cb0e;
  border-radius: 50px;
}

.gorilla:hover .tooltip-text-gorilla {
  visibility: visible;
}
.gorilla:hover .map-icon-cap {
  visibility: hidden;
}
.panda {
  display: flex;
  align-items: center;
  position: absolute;
  width: 124px;
  height: 64px;
  left: calc(46% - 117px / 2 + 404px);
  top: calc(47% - 52px / 2 + 68.5px);
}
.tooltip-text-panda {
  visibility: hidden;
  position: absolute;
  left: 75px;
  top: 10px;
}

.panda:hover .map-icon-panda {
  padding: 0;
  border: 3px solid #70cb0e;
  border-radius: 50px;
}

.panda:hover .tooltip-text-panda {
  visibility: visible;
}
.panda:hover .map-icon-cap {
  visibility: hidden;
}
.zoom {
  position: absolute;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  width: 32px;
  height: 80px;
  left: calc(98% - 106px / 2 + 404px);
  top: calc(87% - 105px / 2 + 68.5px);
}
.zoom-btn-down {
  height: 40px;
  border: 0;
  border-radius: 5px 5px 0 0;
  font-size: 35px;
}
.zoom-btn-up {
  font-size: 27px;
  height: 40px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-radius: 0 0 5px 5px;
}
